/pruebasweb/nbproject/private/
/fl/nbproject/private/
/fl/dist/
/fl/build/
/cargo/nbproject/private/
/cargo/build/
/cargo/dist/
/calc/calc/build/
/calc/calc/dist/
/IoT/prueba1/build/
/IoT/prueba1/dist/