<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cargo</property>
    <property name="hibernate.connection.username">cargouser</property>
    <property name="hibernate.connection.password">cargopasswd</property>
    <mapping class="org.cargo.bl.jpa.Usu"/>
    <mapping class="org.cargo.bl.jpa.Teo"/>
    <mapping class="org.cargo.bl.jpa.Cto"/>
    <mapping class="org.cargo.bl.jpa.Tea"/>
    <mapping class="org.cargo.bl.jpa.Emp"/>
    <mapping class="org.cargo.bl.jpa.Tca"/>
    <mapping class="org.cargo.bl.jpa.Cli"/>
    <mapping class="org.cargo.bl.jpa.Tta"/>
    <mapping class="org.cargo.bl.jpa.Pro"/>
    <mapping class="org.cargo.bl.jpa.Seq"/>
  </session-factory>
</hibernate-configuration>
