{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
	<title>{% block title %}My amazing site{% endblock %}</title>
</head>
<body>
<h1>Hola mundo</h1>
<p>Esto es otra guerra en texto pequeño</p>
<div class="container" style="overflow:auto">
	<div id="div1" style="float:left">esto es div1</div>
	<div id="div2" style="float:left">esto es div2</div>
	<div id="div3" style="float:left">esto es div3</div>
	<div id="div4" style="float:left">esto es div4</div>
</div>
</body>
</html>